{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Account Settings</h1>
    <ul>
        <li><strong>Username:</strong> {{ user.username }} {{ user.last_name }}</li>
        <li><strong>Email:</strong> {{ user.email }}</li>
    </ul>
    <a href="{% url 'change_password' %}" class="button">Change Password</a>
    <a href="{% url 'manage_elections' %}" class="button">Manage Elections</a>
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="button">Log Out</button>
    </form>
</div>
{% endblock content %}
