{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>Change Password</h1>
    <form method="POST" action="{% url 'submit_password' %}">
        <label for="current_password">Current Password:</label>
        <input type="password" id="current_password" name="current_password" required>

        <label for="new_password1">New Password:</label>
        <input type="password" id="new_password1" name="new_password1" required>

        <label for="new_password2">Confirm New Password:</label>
        <input type="password" id="new_password2" name="new_password2" required>

        <input type="submit" value="Change Password">
    </form>
</div>

{% endblock content %}