{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Active Public Elections</h1>

    <!-- Centered create and manage election buttons -->
    <div>
        <a href="{% url 'create_poll' %}" class="button create">Create New Election</a>
        {% comment %} <a href="{% url 'manage_elections' %}" class="button">Manage Your Elections</a> {% endcomment %}
    </div>

    <div class="election-list">
        {% if polls %}
            {% for poll in polls %}
                <div class="election-item">
                    <h2>{{ poll.name }}</h2>
                    <i>{{ poll.user }}</i>
                    <ul>
                        {% for option in poll.poll_option_set.all %}
                            <li>{{ option.text }} - Votes: {{ option.votes }}</li>
                        {% endfor %}
                    </ul>
                    <ul>
                        <li><a href="{% url 'vote' poll.slug %}" class="vote-link">Vote</a></li>
                    </ul>
                    <form method="POST" action="{% url 'delete_poll' poll.id %}" onsubmit="return confirm('Are you sure you want to delete this election?');">
                        {% csrf_token %}
                        <button type="submit" class="delete-button">X</button>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <p>No active polls available.</p>
        {% endif %}
    </div>
</div>

{% endblock content %}
