{% extends "base.html" %}

{% block content %}
<div class="content">
    <form action="{% url 'delete_polls' %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete All Polls</button>
    </form>
    <h1>Active Polls</h1>
    {% if polls %}
        {% for poll in polls%}
            <div class="poll">
                <h2>{{ poll.name }}</h2>
                <i>{{poll.user}}</i>
                <ul>
                    {% for option in poll.poll_option_set.all %}
                        <li>{{ option.text }} - Votes: {{ option.votes }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    {% else %}
        <p>No active polls available.</p>
    {% endif %}
</div>

{% endblock content %}
