{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>Manage Elections</h1>
    <ul>
        <!-- Example election -->
        <li>
            Election Name: Example Election
            <ul>
                <li><a href="#">View Results</a></li>
                <li><a href="#">Delete</a></li>
                <li><a href="#">Archive</a></li>
            </ul>
        </li>
    </ul>

    <!-- Back button -->
    <a href="{% url 'account' %}" class="button">Back to Account</a>
</div>
{% endblock content %}
