{% extends "base.html" %}

{% block content %}

<div class="container">

    {% if msg %}
        <div class="alert alert-primary" role="alert">
            You have already voted for this poll
        </div>
        {% comment %} <a href="{% url "results" poll.slug %}" class="btn btn-primary">See Results</a> {% endcomment %}
    {% else %}

    <h1>Vote on Poll</h1>
    <form method="POST" action="">

        {% csrf_token %}
        
        <div class="vote-container">
            <h4>{{poll.name}}</h4>

            {% for option in options %}
            <div class="options-container">
                <label for="{{option.id}}" class="option-label">{{option.text}}</label>
                <input type="radio" id="{{option.id}}" value="{{option.id}}" name="option" class="option-input">
            </div>

            {% endfor %}
        </div>
        <button type="submit" class="publish">Vote</button>
    </form>
    {% endif %}
</div>

{% endblock content %}