{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>Create Poll</h1>
    <form method="POST" action="{% url 'submit_poll' %}">
        <div id="questions-container">
            <div class="question-block">
                <label for="question1">Question 1:</label>
                <input type="text" id="question1" name="question1" required>
                <div id="options-container1">
                    <div class="option-container">
                        <label for="option1_1" class="option-label">Option 1:</label>
                        <input type="text" id="option1_1" name="option1_1" class="option-input" required>
                    </div>
                    <div class="option-container">
                        <label for="option1_2" class="option-label">Option 2:</label>
                        <input type="text" id="option1_2" name="option1_2" class="option-input" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-group">
            <button type="submit" class="publish">Vote</button>
        </div>
    </form>
</div>

{% endblock content %}