.vote-container  {
	text-align: center;
}

.poll-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.options-container {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.option-label {
	margin-right: 10px;
     font-weight: normal;
}

.publish {
	background-color: #333;
     color: white;
}