{% extends "base.html" %}

{% block content %}

<!-- Header-->
<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Polls</h1>
                <p class="fs-4">Let's celebrate the creation of Group 4's website. 
                    Cast your vote on any topic you desire. 
                    Your voice matters in recognizing this innovation.</p>
                <a class="btn btn-primary btn-lg" href="#poll_section">Let's vote</a>
            </div>
        </div>
    </div>
</header>
<!-- Page Content-->
<section class="pt-4" id="poll_section">
    <div class="container px-lg-5">
        <div class="row gx-lg-5 justify-content-center">

            {% for poll in polls %}

                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                            <h2 class="fs-4 fw-bold">{{poll.title}}</h2>
                            <p class="mb-0">{{poll.question | truncatechars:100}}</p>
                        </div>
                        {% comment %} Here is where we pass in the poll slug {% endcomment %}
                        <a href="{% url "vote" poll.slug %}" class="btn btn-primary btn-lg">Vote</a>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>
</section>

{% endblock content %}